<table>
  <% var i; for (i=0; i < quizes.length; i++) { %>        
    <tr>
      <td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td>
      <td><a href="quizes/<%= quizes[i].id %>/edit"><button>editar</button></a></td>
    </tr> 
  <% } %>
</table>
<p/><br>
<a href="/quizes/new"><button>Crear pregunta</button></a>

<br><br>
<form method="get" action="/quizes">
  Buscar pregunta: <p>
  <input type="text" name="search" placeholder="Patrón de búsqueda" />
  <input type="submit" value="Buscar">
</form>